

.mask{
width: 100%; 
height: 80vh;
position: relative;
}


.mask img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: -6rem;
}

.mask::after{
    content: "";
    position: absolute;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;

}
.hero{
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    width: 80%;
    margin: auto;
}
.content div{
    /* padding: 30px; */
}



@media screen and (min-width: 1040px) {
    .content {
        left: 0;
        transform: translate(0, -50%);
        text-align: left;
        padding-left: 9%; /* Add spacing from the left */
    }
}

     .content .buttons{
        display: flex;
    }
    

